<!DOCTYPE html>
<html>
  <head>
    <title>NuclearRules</title>
    <link href='https://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="background">
    </div>
    <div ng-app="nuclearRules" class="ng-scope nuclear-rules">
      <nav id="menu">
        <ul class="menu-items">
          <li class="item"><a href="#">Home</a></li>
          <li class="item"><a href="#">Benefits</a></li>
          <li class="item"><a href="#">Waste</a></li>
          <li class="item"><a href="#">History</a></li>
          <li class="item"><a href="#">Contact</a></li>
        </ul>
      </nav><!-- /c-menu slide-left -->
      <ui-view></ui-view>
    </div>
  </body>
</html>
